<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Administrator Register</title>
<style>
	body{text-align: center}
</style>
</head>
<body>
	<div class="Head">
		<img src="https://xinshi-pics.oss-cn-hangzhou.aliyuncs.com/database-design/images/logo.png" alt="Logo Position" />
		<p>Website Name</p>
		<p>Register a new account</p>
	</div>
	<br>
	<div class="Register Input">
		<form action="RegisterResult" method="POST">
			{% csrf_token %}
			<p>Admin Account	<input type="text" name="account"></p>
			<p>Admin Name <input type="text" name="userName"></p>
			<p>
			Sex 
				<label><input name="Sex" type="radio" value="Male"/>Male</label>
				<label><input name="Sex" type="radio" value="Female"/>Female</label>
			</p>
			<p>Password	<input type="password" name="password"></p>
			<p>Password Confirm <input type="password" name="passwordConfirm"></p>
			<input type="submit" value="提交">
		</form>
		{% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
   		{% endif %}
	</div>
</body>
</html>