<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Administrator Register</title>
<style>
	body{text-align: center}
</style>
</head>
<body>
	<div class="Head">
		<img src="" alt="Logo Position" />
		<p>Website Name</p>
		<p>Register a new account</p>
	</div>
	<br>
	<div class="Register Input">
		<p>Admin Account	<input type="text"></p>
		<p>Admin Name <input type="text"></p>
		<form action="" method="get">
		Sex 
			<label><input name="Sex" type="radio" value="Male"/>Male</label>
			<label><input name="Sex" type="radio" value="Female"/>Female</label>
		</form>
		<p>Teacher ID <input type="text"></p>
		<p>Password	<input type="password"></p>
		<p>Password Confirm <input type="password"></p>
	</div>
	<br>
	<button>Submit</button>
</body>
</html>