<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<style>
	body{text-align: center}
</style>
<body>
	<div class="Head">
		<img src="">Logo Position
		<p>Website Name</p>
		<p>Welcome to use the system!</p>
	</div>
	<br>
	<div class="Login Input">
		<form action="loginResult" method="post">
			{% csrf_token %}
			<p>User Account	<input type="text" name="account" /></p>
			<p>Password	<input type="password" name="password" /></p>
			<input type="submit" value="提交">
		</form>

	</div>
	<br>
</body>
</html>