<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<style>
	body{text-align: center}
	img{display: inline-block; width: 100%; max-width: 100%; height: auto;}
</style>
<body>
	<div class="Head">
		<img src="https://xinshi-pics.oss-cn-hangzhou.aliyuncs.com/database-design/images/logo.png" alt="Logo Position" />
		<p>Website Name</p>
	</div>
	<p>登录</p>
	<br>
	<div class="Login Input">
		<form action="loginResult" method="post">
			{% csrf_token %}
			<p>User Account	<input type="text" name="account" /></p>
			<p>Password	<input type="password" name="password" /></p>			
					
			<input type="submit" value="提交">  
		</form>
		<p>
			Identity 
				<label><input name="identity" type="radio" value="Student" checked="checked" />Student</label>
				<label><input name="identity" type="radio" value="Teacher"/>Teacher</label>
			</p>	
		<button onclick="getIdentity()">注册</button>
			<script type="text/javascript">
			function getIdentity(){
				var res = document.getElementsByName("identity");
				for(var i = 0; i < res.length; i++){
					if(res[i].checked){
						if(res[i].value == "Teacher")
							location.href = "/adminregister";
						else
							location.href = "/register";
					}
				}
			}
			</script>
	</div>
	
	<br>
</body>
</html>