<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Goods</title>
</head>
<style>
    .toolbar {height: 50px; width:100%; margin-left: 0; background:rgb(189, 181, 181); position: fixed; top: 0; margin-bottom: 5px;}
    .toolbar ul{width: auto; list-style-type: none; white-space:nowrap; overflow: hidden; margin-left: 5%; padding: 0;}
    .toolbar li { float:left; margin-right:2%; position: relative; overflow: hidden;vertical-align: middle;}
    .toolbar li a{ display: block; color:white; text-align: center; padding: 3px; overflow: hidden; text-decoration: none;}
</style>
<body>
    <div class="toolbar">
		<ul>
			<li>
				<a href="/search">Database Course Design</a>
			</li>
			<li>
				<a href="/search">搜索</a>
			</li>
			<li>
				<a href="/studentinfo">个人信息</a>
			</li>
			<li>
				{% if not request.session.user %}
					<a href="/login">登录</a>
				{% else %}
					<a>用户 ： {{request.session.user}}</a>
				{% endif %}
			</li>
		</ul>
	</div>

    <div style="margin-top:100px; text-align:center;" class="main">
        <form action="modifyResult" method="post" enctype="multipart/form-data">
			{% csrf_token %}
            <p>商品名 <input type="text" name="itemName" value="{{ datas.Name }}"></p>
            <p>价格 <input type="text" name="itemPrice" value="{{ datas.Price }}"></p>
            <p>商品描述 <input type="text" name="itemDescription" value="{{ datas.Description }}"></p>
			<p>上传图片 <input class="Image" accept="image/*" type="file" name="img"></p>
            <input type="submit" value="提交">
        </form>
    </div>
</body>
</html>