<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Register</title>
<style>
	body{text-align: center;}
	img{background-size:contain|cover;width:100%;height: auto;}
</style>
</head>
<body>
	<div class="Head">
		<img src="" alt="Logo Position" />
		<p>Website Name</p>
	</div>
	<p>Register a new account</p>
	<br>
	<div class="Register Input">
		<form action="registerResult" method="POST">
			{% csrf_token %}
			<p>User Account	<input type="text" name="account"></p>
			<p>Password	<input type="password" name="password"></p>
			<p>Password Confirm <input type="password" name="passwordConfirm"></p>
			<br />
			<p>User Name <input type="text" name="userName"></p>
			<p>
				Birthday
				<select name="year" id="year" >
					<script>
					for(i=1900;i<2020;i++){
					document.write("<option value='"+i+"'>"+i+"</option>")
					}
					</script>
				</select>
				<select name="month" id="month" >
					<script>
					for(i=1;i<12;i++){
					document.write("<option value='"+i+"'>"+i+"</option>")
					}
					</script>
				</select>
				<select name="day" id="day" >
					<script>
					for(i=1;i<31;i++){
					document.write("<option value='"+i+"'>"+i+"</option>")
					}
					</script>
				</select>
			</p>
			<p>Sex
				<label><input name="Sex" type="radio" value="Male"/>Male</label>
				<label><input name="Sex" type="radio" value="Female"/>Female</label>
			</p>
			<p>College <input type="text" name="college"></p>
			<p>Address <input type="text" name="Address"></p>
			<input type="submit" value="提交">
		</form>
	</div>
	<br>
</body>
</html>