<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SearchPage</title>
</head>
<style>
	body{text-align: center}
	#userName{display: inline}
	img{display: inline-block; width: 100%; max-width: 100%; height: auto;}
</style>
<body>
	<div class="Head">
		<img src="https://xinshi-pics.oss-cn-hangzhou.aliyuncs.com/WebsiteCreate/blogs/12.jpg" alt="Logo Position" />
		<p>Website Name</p>
	</div>
	{% if not request.session.user %}
		<a href="/login">登录</a> 
	{% else %}
		<p id="userName">{{request.session.user}}</p> <a href="/login/reLogin">重新登录</a>
	{% endif %}
	<div class="Search Input">
		<form action="searchResult" method="get">

			<input type="text" name="searchKey">
			<input type="submit" value="搜索">
		</form>
	</div>
</body>
</html>